@import '../utils/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus { outline: 2px solid $orange; }

ul { list-style: none; }

a { text-decoration: none; }


body { 
    font-size: $regularFontSize;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
}

.container-error {
    display: flex;
    justify-content: center;
}

.error-msg {
    padding: 10px;
    max-width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    border-radius: $borderRadius;
}